 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }
 body{
    background:linear-gradient(to right,rgba(39, 7, 26, 0.9),rgba(39, 7, 26, 0.801),rgba(39, 7, 26, 0.834),rgba(39, 7, 26, 0.834),rgba(39, 7, 26, 0.9));
 }


 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin: 1rem auto;
    max-width: 1200px;
 padding: 0 0.5rem;
 }
/* علشان نبعدهم عن بعض */
 .navigation ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
 }
/* علشان نحوش النقط من عناصر القائمة ونخليها جنب بعض */
 .navigation a{
    text-decoration: none;
    color: antiquewhite;
 }
 .ss{
    width: 80px;
    height: 80px;
    border-radius: 50%;
 }

/*علشان تغير اللون لما تقرب الماوس من التلت صفحات الفوق فى الصفحة */
 .navigation a:hover{
    text-decoration: none;
    color: rgb(255, 51, 0);
 }

 hr{
    opacity: 70%;
 }

 .hero {
 
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  5rem auto;
    max-width: 1200px;

 }
 
 .arrow {
    position: absolute;
    transform: translateX(-35.70rem) translateY(-1.70rem);
 }

 .heroSub {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


 }

 .name {
    font-size: 3rem;
    color: azure;
 }

 .title{
    font-size: 4rem;
    color: rgb(216, 38, 97);
    size: 20px;
 }

 .heroBtns {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
 }

 .hireMe {
    background-color: rgb(216, 38, 97);
    color: aliceblue;
    border-radius: 24px;
    text-decoration: none;
    padding:  0.5rem 1.5rem;
    text-shadow: 0px 4px 4px #000;
 }

 .CV {
    background-color: #e70940;
    color: aliceblue;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    backdrop-filter: blur(4px);
 }
 .aboutMe {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 5rem auto;
   max-width: 1200px;
   gap: 10rem;
 }
 .textContainer {
  display: flex;
  flex-direction: column;
}

 .textTitle {
   display: flex;
   align-items: center;
   gap: 5px;
   font-size: 2rem;

 }
 .aboutName {
   color: #000000;
 }
.aboutTitle {
   color: rgb(0, 0, 0);
}
.aboutMePar {
   text-align: justify;
   color: rgba(0, 0, 0, 0.881);
  font-size: 22px;
  border: #000 1px solid;
  border-radius: 50px;
  background-color: #a3a3a3ea;
  padding: 13px;
}

.works {
   background-color: #8f8e8ea8;
   padding: 10rem 10rem;
   margin: 5rem 0rem;
  border: #000000ec 14px solid;
  border-radius: 5%;
}
 
.worksContainer{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: left;
   margin: 5rem auto;
   max-width: 1200px;
}
.projectTitle {
   display: flex;
    align-items: center;
   justify-content: left;
   gap: 5px;
   font-size: 1.1rem;
}
.works ul {
   display: flex;
   list-style-type: none;
   align-items: center;
   justify-content: space-between;
   margin: 1%;
   flex-wrap:wrap;
   gap: 5px;
}
.works li {
   border-radius: 16px;
   background-color: rgba(57,62,70,0.5);
   backdrop-filter: blur(4px);
   padding: 1rem 4rem;
    margin: 1%;
}

.works li img {
   width: 200px;
   height: 200px;
   object-fit: contain;
   transition: transform 0.2s;
   border: #000 2px solid;
   border-radius: 10%;
}

.works li :hover {
   transform: scale(1.4);
}
.r{
   width: 50pxpx;
}
.y{
   width: 50px;
}
.u{  width: 50px;}
.i{
     width: 45px;
}
.o{
   width: 50px;
}
.rr{
   width: 56px;
}
.contactContainer{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   gap: 2rem;
   margin: 2rem;
   max-width: 1200px;
}
.contactTitle{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   margin-bottom: 9px;
   font-size: 2rem;
}
.contact {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-right: 5rem;
   gap: 20rem;
}
.contact h3, .contact a{
   color: antiquewhite;
   text-decoration: none;
}

.emailAndPhone {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
.socialMedia {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem; 
}
.socialMedia a img{
   width: 34px;
   height: 34px;
}
.socialMedia a img:hover {
   transform: scale(1.6);
}
.socialMedia a{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
   background-color: #00000086;
   backdrop-filter: blur(4px);
   padding: 1rem;
   margin: 
   1rem;
}
footer{

   text-align: center;
   padding: 2rem;
   color: white;
}
@media (max-width: 1023px) {
   header{
      margin-left: 1rem;
      margin-right: 1rem;
   }
   .hero {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
   }
   .heroImg {
      width: 400px;
   }
   .name, .title {
      font-size: 2rem;
   }
   .arrow{
      display: none;
   }
   .aboutMe {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
   }
   .textContainer {
      align-items: center;
      margin: 0rem 5rem;
      gap: 1rem;
   }
   .aboutName, .aboutTitle {
      font-size: 2rem;
   }
   .light {
      width: 60px;
   }
   .aboutMeImg {
      width: 400px;
   }
   .works{
      padding: 0%;
   }
   .worksContainer{
      padding: 5rem 0rem;
      gap: 3rem;
   }
   .projectTitle {
      margin-left: 1rem;
   }
   .works ul {
      flex-direction: column;
      gap: 1rem;
   }
   .contactContainer {
      margin: 10rem 5rem;
      gap: 2rem;
   }
   .contact {
      flex-direction: column;
      gap: 1rem;
      margin-right: 0rem;
   }
     /* changed code */
   .socialMedia {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr)); /* صفين */
      gap: 1rem;
      align-items: center;
      justify-items: center;
      width: 100%;
      max-width: 420px; /* اختياري لتحديد عرض المحتوى */
      margin: 0 auto;
   }

   .socialMedia a {
      width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}